{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "css/loading.css" %}' />
</head>
<body id="dataTable">
    <table id="proxyTable" class="table table-hover">
        <thead>
        <tr>
            <th>IP Address</th>
            <th>Port</th>
            <th>Country</th>
            <th>Connect type</th>
            <th>Status</th>
            <th>Anonymity</th>
            <th>Ping</th>
            <th>Last Checked</th>
        </tr>
        </thead>
        <tfoot class="hide-if-no-paging">
        <tr>
            <th></th>
            <th></th>
            <th>
                <select class="form-control" id="country-filter">
                    <option value="">All</option>
                </select>
            </th>
            <th>
                <select class="form-control" id="connection-filter">
                    <option value="">All</option>
                    <option value="HTTP">HTTP</option>
                    <option value="HTTPS">HTTPS</option>
                    <option value="SOCKS4">SOCKS4</option>
                    <option value="SOCKS5">SOCKS5</option>
                    <option value="SSL">SSL</option>
                </select>
            </th>
            <th>
                <select class="form-control" id="available-filter">
                    <option value=''>All</option>
                    <option value='Available'>Available</option>
                    <option value='Unreachable'>Unreachable</option>
                </select>
            </th>
            <th>
                <select class="form-control" id="anonymity-filter">
                    <option value=''>All</option>
                    <option value='true'>True</option>
                    <option value='false'>False</option>
                </select>
            </th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/datatables/jquery.dataTables.js"></script>
<script src="static/js/datatables/dataTables.bootstrap.js"></script>
<script src="static/js/buttons.html5.min.js"></script>
<script src="static/js/dataTables.buttons.js"></script>
<script src="static/js/fnGetColumnData.js"></script>
<script>
$(document).ready(function () {
        var proxyTable = $('#proxyTable').dataTable({
            "ajax": '/ajax_get_proxy_list',
            "bProcessing": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSortable": true,
            "lengthMenu": [[10, 25, 50, 100, 200], [10, 25, 50, 100, 200]],
            "pageLength": 10,
            "bInfo": true,
            "bSearchable": true,
            "bAutoWidth": false,
            "bStateSave": false,
            "aoColumnDefs": [
                {
                    "aTargets": [0]
                },
                {
                    "aTargets": [1]
                },
                {
                    "aTargets": [2]
                },
                {
                    "aTargets": [3]
                },
                {
                    "mRender": function (data, type, row) {
                        if (data === 'Available') {
                            return '<p><img style="width: 15px; heigth: 15px" src="http://image.flaticon.com/icons/svg/148/148767.svg"> Available</p>'
                        }
                        else if (data === 'Unreachable')
                        {
                            return '<p><img style="width: 15px; heigth: 15px" src="http://image.flaticon.com/icons/svg/148/148766.svg"> Unreachable</p>'
                        }
                        else
                        {
                            return 'Unchecked'
                        }
                    },
                    "aTargets": [4],
                    "bSortable": true
                },
                {
                    "mRender": function (data, type, row) {
                        if (data) {
                            return '<p><span hidden>true</span><img style="width: 15px; heigth: 15px" src="http://image.flaticon.com/icons/svg/148/148767.svg"></p>'
                        }
                        else
                        {
                            return '<p><span hidden>false</span></p><img style="width: 15px; heigth: 15px" src="http://image.flaticon.com/icons/svg/148/148766.svg"></p>'
                        }
                    },
                    "aTargets": [5]
                },
                {
                    "aTargets": [6]
                },
                {
                    "aTargets": [7]
                }
            ]
        });
        $('#available-filter', this).change( function () {
            console.log($(this).val());
            proxyTable.fnFilter( $(this).val(), 4);
        });
        $('#anonymity-filter', this).change( function () {
            console.log($(this).val());
            proxyTable.fnFilter( $(this).val(), 5);
        });
        $('#country-filter', this).change( function () {
            proxyTable.fnFilter( $(this).val(), 2)
        });
        $('#connection-filter', this).change( function () {
            proxyTable.fnFilter( $(this).val(), 3)
        });
    $.ajax({
        type: "GET",
        url: '/ajax_get_country_list',
        data: {},
        dataType: 'json',
        success: function(data) {
            data.forEach(function(i) {
                console.log(i);
                $('#country-filter').append($('<option>', {
                    value: i,
                    text: i
                }))
            });

        }
    })
    });
$(document).ajaxStart(function() {
    $('#show-datatable').hide();
    $('#load-animation').show();
}).ajaxStop(function(){
    $('#load-animation').hide();
    $('#show-datatable').show();
});

</script>
</body>